*{
    margin:0px;
    padding:0px;
    font-family: "Lato", sans-serif;
    font-weight: 400; 
    font-style: normal;
}
.navbar {
    background-color: #001F3F;
    height: 80px;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    width: 1500px;
    align-items: center;
}
.option{
    display: flex;
    white-space: nowrap;
    align-items: center;
    float: right;
    gap: 30px;
}
#logo {
    background-color: #001F3F;
    width: 16%;
    height: 60px;
    margin-left:60px;
}

header a {
    text-decoration: none;
    color: white;
    background-color: #001F3F;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    display: inline-block;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    height: 30px;
    width: 20%;
    padding: 20px;
    display: flex;
}

.container #search {
    border: none;
    background-color: #001F3F;
    text-align: center;
    text-decoration: none;
    margin-left: 5px;
    font-size: 16px;
    color: #F9F9F9;
    font-family: "Lato", sans-serif;
}

header > div > img {
    background-color: #001F3F;
    height: 20px;
    width: 20px;
    margin: 0 5px;
}



.banner{
    position: relative;
    width: 100%;
}
.banner #ban{
    position: relative;
    width:100%;
    height:auto;
}
.banner #circle_overlay{
    background-color: transparent;
    position:absolute;
    top: 0;
    left:0;
    height:200px;
    width: 200px;
    opacity:0.4;
}
button{
    position: absolute;
    font-weight: 550;
    top:  475px;
    left: 13.3%;
    background-color: #001F3F;
    color: white;
    font-size: 20px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.banner .bento{
    display: flex; 
    position: absolute;
    top: 136px;
    right:8%;
    z-index: 12;  
    width:500px;
    height:500px; 
    background-color: transparent;
}
.bento .bentosub1{
    display: flex;
    flex-direction: column;
    height: 50%;
    width:50%;
    gap:20px;
}

#resume{
    height:240px;
    width:240px;
    background-color: #FFE769;
    color:black;
    font-weight: 550;
    border:1px solid rgb(213, 213, 213);
    border-radius: 15px;
}
#resume p{
    font-size:20px;
    background-color: transparent;
    margin:7px 0px 0px 10px;
}
#resume img{
    background:none;
    height: 221px;
    width: 185px;
    overflow: hidden;
    margin: -8px 0px 0px 46px;
}
#mentorship{
    height:230px;
    width:230px;
    background-color: #91EBFF;
    color:black;
    font-weight: 550;
    border:1px solid rgb(213, 213, 213);
    border-radius: 15px;
}
#mentorship p{
    font-size:20px;
    background-color: transparent;
    margin:7px 0px 0px 10px;
}
#mentorship img{
    background-color: transparent;
    height: 221px;
    width: 185px;
    margin: 3px 0px 0px 44px;
}

.bento .bentosub2{
    display: flex;
    flex-direction: column;
    height: 25%;
    width:50%;
    gap:20px;
}
#jobs{
    position:relative;
    height:130px;
    width:225px;
    background-color: #FFC05B;
    color:black;
    font-weight: 550;
    border:1px solid rgb(213, 213, 213);
    border-radius: 15px;
}
#jobs p{
    font-size:20px;
    background-color: transparent;
    margin:7px 0px 0px 10px;
}
#jobs img{
    background-color: transparent;
    height: 131px;
    width: 264px;
    margin: -23px 0px 0px 40px 
}
#assessment{
    height:130px;
    width:225px;
    background-color: #91F261;
    color:black;
    font-weight: 550;
    border:1px solid rgb(213, 213, 213);
    border-radius: 15px;
}
#assessment p{
    font-size:20px;
    background-color: transparent;
    margin:7px 0px 0px 10px;
}
#assessment img{
    background-color: transparent;
    height: 218px;
    width: 107px;
    margin: -66px 0px 0px 123px;
}
#competition{
    height: 180px;
    width: 225px; 
    background-color: #E198FF;
    color:black;
    font-weight: 550;
    border:1px solid rgb(213, 213, 213);
    border-radius: 15px;
}
#competition p{
    font-size:20px;
    background-color: transparent;
    margin:7px 0px 0px 10px;
}
#competition img{
    background-color: transparent;
    height: 228px;
    width: 195px;
    margin: -38px 0px 0px 51px;
}
.main-body{
    background-color: #F9F9F9;
}
.trust{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 40px;
}
.trust h2{
    font-family: "Merriweather", serif;
    text-align: center;
    font-weight: 700;
    float:left;
    font-size:25px;
    color:#001F3F;
    white-space: nowrap;
    margin-left: 50px;
}

.company{
    display: flex;
    flex-direction: row;
    width:fit-content;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    align-items: center;
    background-color: white;
}
.company::-webkit-scrollbar {
    display: none;
}
.company img{
    height: 30%;
    width: 10%;
    margin:10px 30px 10px 30px;
}

.trending{
    text-align: center;
    margin-top:100px;
}
.trending h1{
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-size:40px;
    color:#001F3F;
}
.trending p{
    opacity: 60%;
    font-weight:300;
    font-size: 20px;
    margin-top: 8px;
}
.text{
    margin-bottom: 40px;;
}

.listing{
    display: flex;
    flex-direction: row; 
}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    border-radius: 5px;
    display: flex;
    height:350px !important;
    width:350px !important;
    margin: 10px !important;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box{
    height:100% !important;
    width:100% !important;
    border: 1px solid gray;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    background-color: transparent;
    
}
.box #microsoft{
    height:100%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 10px;
}
.box #deloitte{
    height:130px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 10px;
}
.box h3{
    font-weight: 700;
    font-size: 20px;
    margin-right:56px;
    margin-left:21px;
    align-self: flex-start;
    display:inline;
}
.box #bookmark{
    margin-top: -30px;
    display: inline;
    align-self: end;
    height: 34px;
    width: 53px;
}
.box #keywords{
    font-size:15px;
    text-align: left;
    margin-left:20px;
    margin-bottom: 15px;
}
.position{
    display: flex;
    align-items: flex-start;
}
.position #location{
    height: 15px;
    width: 15px;
    float:inline-start;
    display: inline;
    margin-left:15px;
}
.position #posi{
    display: inline;
    font-size:12px;
    margin-top: 0px;
    margin-left: 1px;
}
.position #time{
    margin-top: 9px;
    display: inline;
    float: inline-start;
    margin-left: 19px;
    height:20px;
    width:20px;
}
.box #arrow{
    margin-top:-50px;
    margin-right:5px;
    display: inline;
    align-self: end;
    height: 40px;
    width: 40px;
    margin-bottom: 30px;
}
.position #deadline{
    margin-top: 10px;
    float: inline-start;
    font-size: 12px;
    margin-left: 8px;
}

.box #ae{
    border: 1px solid gray;
    height:40%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 10px;
}

.box #tm{
    border: 1px solid gray;
    height:40%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 10px;
}

.comp{
    width:100%;
    height:80vh;
    background-color: rgba(255,215,0,0.2);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.comp1{
    width:100%;
    height:60vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.comp #coder{
    background-color: transparent;
    height: 50vh;
    border-radius: 10px 0px 0px 10px;
}
.comp-card{
    border: 1px solid rgba(0, 0, 0, 0.25);
    position: relative;
    display: flex;
    border-radius: 10px;
    align-items: center;
    margin-left: 50px;
    justify-content: center;
}
.comp1-card{
    border: 1px solid rgba(0, 0, 0, 0.25);
    position: relative;
    display: flex;
    border-radius: 10px;
    align-items: center;
    margin-left: 50px;
    justify-content: center;
}
#overlay{
    position:absolute;
    height: 200px;
    width: 100px;
    background-color: transparent;
    margin-left:0px;
    opacity: 20%;
    top: 15%;
    left:30%; 
}
.heading{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px 250px 0px 20px;
    gap: 20px;
    justify-content: start;
}
.heading h2{
    font-size: 30px;
    background-color: transparent;
    color:#001F3F;
    font-weight: 700;
    margin: 0;
}
.heading p{
    font-size: 20px;
    font-weight: 400;
    background-color: transparent;
}
.image{
    display: flex;
    align-items: center;
    width: 500px;
    justify-content: space-between;
}
.image img{
    height: 37px;
    width: 38px;
}
.trophy{
    display: flex;
    align-items: center;
    gap: 10px;
}
.online{
    display: flex;
    align-items: center;
    gap: 10px;
}
#start{
    background-color: rgba(0, 31, 63, 1);
    padding: 10px 30px;
    color: white;
    border-radius: 0.5rem;
}
.builder{
    width:100%;
    height:55vh;
    margin-top:35px;
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid rgba(215,215,215,0.5);
}
.builder img{
    background-color: transparent;
    width:250px;
    height:250px;
    margin-left:100px;
    position: relative;
    border-radius: 10px 0px 0px 10px;
}
.builder h2{
    margin-top: -94px;
    color: #001F3F;
    margin-left: 33px;
    font-size: 30px;
    background-color: transparent;
}

.builder button{
    top: 200px;
    left: 25.5%;
}
.comp1-card #over{
    display: flex;
    position:absolute;
    top: 10%;
    right: 0;
    height: 270px;
    width: 120px;
    opacity: 30%;
}

.feedback{
    display: flex;
    flex-direction: row;
    height: 45vh;
    width:100%;
}
.testimonial .text{
    margin-top: 100px;
}
.testimonial .text p{
    margin-bottom: 50px;
}
#user1{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height:100%;
    width:25%;
    border: 1px solid rgba(215,215,215,0.5);
    border-radius: 10px;
    background-color: rgba(255,215,0,0.2);
    margin: 0px 55px 0px 40px;
}
#user1 img{
    background-color: transparent;
    height:80px;
    width:80px;
    margin:20px 20px 0px 20px;
}
#user1 .detail{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    margin-left: 116px;
    margin-top: -85px;
    margin-bottom: 0px;
    align-items: flex-start;
}
#user1 p{
    font-size:18px;
    font-weight: 400;
    padding: 0px 20px 0px 20px;
    background-color: transparent;
    line-height: 27px;
    color: rgba(0, 0, 0, 1);
}
.detail h3{
    font-size: 30px;
    font-weight: bold;
    background-color: transparent;
    margin-bottom: 10px;
}
.detail h5{
    font-weight: 400;
    margin-top:0px;
    font-size:20px;
    background-color: transparent;
    margin-bottom: 10px;
}
.detail #star{
    height: 100%;
    width:170px;
    margin-top:-5px;
    margin-bottom: 5px;
    margin-left: -10px;
}

#user2{
    display: flex;
    align-items: center;
    flex-direction: column;
    height:100%;
    width:25%;
    border: 1px solid rgba(215,215,215,0.5);
    border-radius: 10px;
    background-color: rgba(255,215,0,0.2);
    margin:0px 60px 0px 60px;
}
#user2 img{
    background-color: transparent;
    height:80px;
    width:80px;
    margin:20px 20px 0px 20px;
    align-self: flex-start;
}
#user2 .detail{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: -85px;
    margin-bottom: 0px;
    align-items: flex-start;
}
#user2 p{
    font-size:18px;
    font-weight: 400;
    padding: 0px 20px 0px 20px;
    background-color: transparent;
    line-height: 27px;
    color: rgba(0, 0, 0, 1);
}

#user3{
    display: flex;
    flex-direction: column;
    height:100%;
    width:25%;
    border: 1px solid rgba(215,215,215,0.5);
    border-radius: 10px;
    background-color: rgba(255,215,0,0.2);
    margin:0px 40px 0px 55px;
}
#user3 img{
    background-color: transparent;
    height:80px;
    width:80px;
    margin:20px 20px 0px 20px;
    align-self: flex-start;
}
#user3 .detail{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    margin-left: 116px;
    margin-top: -85px;
    margin-bottom: 0px;
    align-items: flex-start;
}
#user3 p{
    font-size:18px;
    font-weight: 400;
    padding: 0px 20px 0px 20px;
    background-color: transparent;
    line-height: 27px;
    color: rgba(0, 0, 0, 1);
}

.stats{
    display: flex;
    color: #001F3F;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.stats-child{
    display: flex;
    border:1px solid rgba(139, 135, 135, 0.404);
    height:90px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.stats h3{
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-size:30px;
    color:#001F3F;
}
.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0px 80px 0px 80px;
}

.links{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    position:absolute;
    width:100%;
    background-color: rgba(0, 31, 63, 0.9);
}
.footer{
    height: 800px;
}
footer p{
    /* text-align: center; */
    /* margin-top:100px; */
    background-color: transparent;
    font-weight: 350;
    font-size:14px;
    color: white;
    display: block;
}
.useful-div{
    display: flex;
}
.parent-footer{
    display: flex;
    flex-direction: column;
}
.useful{
    /* height:auto; */
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items:start;
    /* z-index: 10; */
    margin-left:47px;
    margin-right: 20px;
    margin-top:0px;
    flex-grow:3;
    text-align: left;
    background-color: transparent;
}
.useful h3{
    color:#FFC100;
    font-size: 22px;
    margin-bottom: 10px;
    background-color: transparent;
    margin-top: 20px;
}
.useful p{
    font-weight: 400;
    line-height: 40px;
    width:100%;
    color: white;
    background-color: transparent;
    margin-left: 2px;
    text-align: left;
}

#socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #001F3F;
    width:35%;
}
#socials img{
    background-color: transparent;
    height:50%;
    width:30%;
    align-self: flex-start;
}
#socials #circlebottom{
    width:50%;
    height:60%;
    margin-left: 75%;
}
#socials #logofoot{
    height: 40%;
    width:60%;
    margin-top: 20px;
    align-self: center;
}

#socials p{
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    margin: 10px 10px 40px 10px;
    text-align: center;
}
#socials #socialogo{
    background-color: transparent;
    height: 30%;
    width:40%;
    align-self: center;
}
#news{
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: left;
    align-items: center;
}
#news h3{
    color:#FFC100;
    padding: 30px;
    white-space: nowrap;
}
.subscribe{
    background-color: #FFC100;
    height: 30px;
    color: black;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    border-radius: 0px 5px 5px 0px;
}
.input-button{
    display: flex;
    align-items: center;
    
}
#news input{
    width: 300px;
    height: 30px;
    padding: 15px;
    border-radius: 10px 0px 0px 10px;
    outline: none;
}

.contain{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}
footer #copyright{
    float: left;
    text-align: center;
}